html, body {
	margin: 0;
	background-color: #fff;
	height: 100%;

}

nav {
	padding: 25px;
	width: 200px;
	height: 100%;
	background-color: #fff;
	position: fixed;
}

#nav-logo {
	padding: 15px 0;
	width: 180px;
	height: 31px;
	margin-bottom: 13px;
}

nav ul {
	list-style: none;
	padding-left: 0px
}
#main-nav {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	margin-top: 20px;
}
#main-nav a {
	text-transform: uppercase;
	text-decoration: none;
	background-color: #E5005F;
	color: #fff;
	padding: 10px 15px 6px;
	font-size: 1.28em;
	margin-bottom: 5px;
	box-sizing: border-box;
	background-position: 0 0;
	cursor: pointer;
}

#main-nav #active
,#main-nav a:hover {
	background-color: #111;
}

#main-nav li {
	width: 225px;
	height: 43px;
}
#main-nav li:nth-child(8) {
	height: 37px;
}

#search-icon {
	color: #E5005F;
	font-size: 31px;
	padding: 1px;
	padding-bottom: 5px;
}
#search-icon:hover {
	color: #000;
}

#second-nav {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 23px;
}
#second-nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #111;
	font-size: 1.2em;
}
#second-nav a:hover {
	color: #E5005F;
}
#second-nav li {
	margin-bottom: 7px;
}

#content {
	padding-left: 250px;
	width: 595px;
	height: 100%;
	background-color: #fff;	
	font-family: 'Open Sans', sans-serif;
}

#content aside img {
	margin: 10px 0;
}
#content aside p {
	background-color: #f3f3f3;
	padding: 15px 20px;
	font-size: 14px;
	color: #333;
}
#content aside p a {
	text-decoration: none;
	color: #333;
}
article {
	margin-top: 25px;
	border-top: 1px solid #ddd;
	color: #343434;
	margin-bottom: 50px;
}
article img {
	max-width: 100%;
}
.related {
	text-align: center;
	position: relative;
}

.related h1 {
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 20px;
	background-color: #fff;
	width: 82px;
	margin: 0 auto;
	position: relative;
	top: -15px;
}
.related img {
	border-radius: 100px;
	margin-left: 0px;
}

.topic-container {
	width: 250px;
	height: 280px;
	float: left;
	margin: 10px 20px;
	position: relative;
	left: 8px;
}
.topic-container a {
	text-decoration: none;
	text-transform: uppercase;
	background-color: #E5005F;
	color: #fff;
	font-size: 16px;
	font-family: 'Open Sans Condensed', sans-serif;
	position: relative;
	top: -40px;
	padding: 7px;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.topic-container:after {
	content: '';
	display: block;
	clear: both;
}

.related p {
	font-style: italic;
	font-size: 16px;
	position: absolute;
	top: 200px;
}

.related button{
	color: #E5005F;
	border: none;
	outline: none;
	cursor: pointer;
	background-color: transparent;
	font-size: 48px;
	position: absolute;
	top: 125px;
	padding: 0;
}

#scroll-left {
	left: 0;
}
#scroll-right {
	right: 0;
}

.related:after {
	content: '';
	display: block;
	clear: both;
}
