html, body {
	margin: 0;
	background-color: #fff;
	height: 100%;

}

nav {
	padding: 25px;
	width: 200px;
	height: 100%;
	background-color: #fff;
	position: fixed;
}

#nav-logo {
	padding: 15px 0;
	width: 180px;
	height: 31px;
	margin-bottom: 13px;
}

nav ul {
	list-style: none;
	padding-left: 0px
}
#main-nav {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
	margin-top: 20px;
}
#main-nav a {
	text-transform: uppercase;
	text-decoration: none;
	background-color: #E5005F;
	color: #fff;
	padding: 10px 15px 6px;
	font-size: 1.28em;
	margin-bottom: 5px;
	box-sizing: border-box;
	background-position: 0 0;
	cursor: pointer;
}

#main-nav #active
,#main-nav a:hover {
	background-color: #111;
}

#main-nav li {
	width: 225px;
	height: 43px;
}
#main-nav li:nth-child(8) {
	height: 37px;
}

#search-icon {
	color: #E5005F;
	font-size: 31px;
	padding: 1px;
	padding-bottom: 5px;
}

#second-nav {
	font-family: 'Open Sans Condensed', sans-serif;
	margin-top: 23px;
}
#second-nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #111;
	font-size: 1.2em;
}
#second-nav a:hover {
	color: #E5005F;
}
#second-nav li {
	margin-bottom: 7px;
}

#content {
	padding-left: 250px;
	width: 595px;
	height: 100%;
	background-color: #fff;	
	font-family: 'Open Sans', sans-serif;
}

#content aside img {
	margin: 10px 0;
}
#content aside p {
	background-color: #f3f3f3;
	padding: 15px 20px;
	font-size: 14px;
	color: #333;
}
#content aside p a {
	text-decoration: none;
	color: #333;
}
article {
	margin-top: 25px;
	border-top: 1px solid #ddd;
	color: #343434;
}
article img {
	max-width: 100%;
}




