

nav {
	padding: 15px;
	width: 205px;
}

nav ul {
	list-style: none;
	padding-left: 0px
}
#main-nav {
	font-family: 'Josefin Sans', sans-serif;
	font-weight: 600;
}
#main-nav li a {
	text-transform: uppercase;
	text-decoration: none;
	background-color: #E5005F;
	color: #fff;
	padding: 8px 15px;
	font-size: 1.4em;
}

#main-nav #active
,#main-nav li a:hover {
	background-color: #111;
}

#main-nav li {
	margin-bottom: 20px
}

#second-nav {
	font-family: 'Ubuntu Condensed', sans-serif;
}
#second-nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #111;
	font-size: 1.2em;
}
#second-nav a:hover {
	color: #E5005F;
}
#second-nav li {
	margin-bottom: 10px;
}
